:root {
  --moderate-blue: hsl(238, 40%, 52%);
  --soft-red: hsl(358, 79%, 66%);
  --grayish-blue: hsl(239, 57%, 85%);
  --pale-red: hsl(357, 100%, 86%);

  --dark-blue: hsl(212, 24%, 26%);
  --grayish-blue: hsl(211, 10%, 45%);
  --light-gray: hsl(223, 19%, 93%);
  --very-light-gray: hsl(228, 33%, 97%);
  --white: hsl(0, 0%, 100%);
}

* {
  margin: 0;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--very-light-gray);
  min-height: calc(100vh - 50px);

  font-size: 16px;
  font-family: 'Rubik', sans-serif;
  padding: 25px;
}

.comments-page {
  max-width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.comment {
  display: flex;
  border-radius: 5px;
  align-items: center;
  background-color: var(--white);
  gap: 20px;
  padding: 20px;
}
.comment .counter {
  background-color: var(--light-gray);
  padding: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 5px;
  gap: 10px;
}
.comment .counter button{
  border: 0;
  color: var(--grayish-blue);
  cursor: pointer;
}

.comment .header {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
  line-height: 30px;
}

.comment .details {
  display: flex;
  gap: 15px;
  align-items: center;
  color: var(--dark-blue);
  width: 80%;
}

.comment .details .detail__user {
  font-weight: 500;
}
.comment .reply {
  width: 20%;
  cursor: pointer;
  color: var(--moderate-blue);
  font-weight: 500;
  display: flex;
  gap: 5px;
  align-items: center;
  justify-content: end;
}

.comment .content {
  color: var(--dark-blue);
  line-height: 22px;
  padding-top: 10px;
  width: calc(100% - 20px);
}

.comment-input {
  display: flex;
  border-radius: 5px;
  justify-content: space-between;
  background-color: var(--white);
  gap: 20px;
  padding: 20px;
}
.comment-input img {
  width: 40px;
  height: fit-content;
}
.comment-input textarea {
  width: 85%;
  border: solid 1px var(--grayish-blue);
  resize: none;
  height: 60px;
  border-radius: 10px;
  padding: 15px 25px;
  font-family: 'Rubik';
  cursor: pointer;
}
.comment-input button {
  width: 10%;
  height: 45px;
  background-color: var(--moderate-blue);
  color: var(--white);
  font-weight: 600;
  border-radius: 10px;
  cursor: pointer;
  border: 0;
}

@media (max-width: 600px) {
  .comment {
    display: flex;
    align-items: start;
    flex-direction: column-reverse;
    gap: 0;
  }
  .comment .counter {
    flex-direction: row;
  }
  .comment .reply {
    position: relative;
    order: 2;
    width: 100%;
    bottom: -20px;
    height: 10px;
  }
}